

.admin-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px; 
  }
  
  .admin-table th, .admin-table td {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: left;
  }
  