.main_div{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.main_div_mob{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.font_icon_calender{
    font-size: 18px;
    margin-left: 5px;
    color: #428bca;
}
.filter_txt{
    font-weight: 700;
    /* width: 120px; */
    background-color: white;
    margin-left: 8px;
    font-size: 12px;
    color: black;
}
.refresh_btn{
    background-color: #428bca;
    color: white;
    border: 1px;
    margin-left: 10px;
    border-radius: 4px;
    width: 75px;
    height: 28px;
    border-color: rgb(209, 209, 209);
}
.k-dropdown-button .k-focus .k-views-dropdown{
    height: 200px !important;
}

@media (min-width:250px) and (max-width:779px){
    .k-scheduler{
        width: 100vw !important;
    }
}












/* 
.k-button-solid-base.k-selected{
    background-color: #428bca !important;
    border-color: #428bca !important;
    color: white !important;
}
.k-button-solid-base{
    background-color: white !important;
    color: #428bca !important;
}
.k-scheduler-toolbar .k-link{
    color: black !important;
    height: 750px !important;
    background-color: whitesmoke !important;
}
.k-button-group > .k-button:hover{
    color: black !important;
    background-color: whitesmoke !important;
}
.k-event{
    top: 345px !important;
    background-color: #428bca !important; 
}
.k-scheduler-toolbar .k-nav-current{
    color: #428bca !important;
}
.k-button-flat{
    border-color: rgb(197, 197, 197) !important;
}
.k-scheduler{
    font-size: 11px !important;
    height: 800px !important;
    width: 100% !important;
}
.k-button-flat{
    border-color: rgb(197, 197, 197) !important;
}
.k-scheduler-toolbar .k-nav-current{
    border-color: rgb(230, 230, 230) !important;
}
.k-button-md{
    font-size: 12px !important;
}
.k-splitbar{
    background-color: #d0ddf0 !important;
} */
/* 
.k-splitbar:focus, .k-splitbar.k-focus {
    background-color: #428bca !important; 
}
.k-ghost-splitbar-horizontal, .k-splitbar-horizontal{
    width: 7px !important;
}
.k-scheduler-monthview .k-scheduler-body .k-scheduler-cell{
    min-height: 95px !important;
}
.k-input, .k-picker{
    width: 20% !important;
}
.k-menu:not(.k-context-menu) > .k-item {
    color: black !important;
    border: 1px solid rgb(150, 150, 150) !important;
    background-color: rgb(254, 254, 254) !important;
    border-radius: 4px !important;
    margin-left: 5px !important;

}
.k-menu-link{
    padding-block: 3px !important;
    padding-inline: 5px !important;
    background-color: rgb(245, 245, 245) !important;
}
@media (min-width:280px) and (max-width:600px){
    .k-scheduler{
      
        font-size: 11px !important;
        height: 800px !important;
        width: 100% !important;
  
    }
}
@media  (min-width:280px) and (max-width:600px){
    .k-scheduler-toolbar>ul.k-scheduler-views {
        position: absolute;
        right: 6px;
        top: 6px;
        height: 400px;
        z-index: 10;
    }

} */

