.filter-component {
  border: 1px solid #a2a2a2;
  display: flex;
  flex-direction: column;
  width: 600px;
  /* margin: 10px; */
  border-radius: 4px;
  background-color: #d8e6f9;
}
.custom-liness {
  width: 100%;
  height: 1px;
  background-color: #a2a2a2;
}
.header_fil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  width: 98%;
}

.edit-filter {
  font-weight: bold;
  font-size: 13px;
  color: #36537d;
}

.close-button_fil {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #458cc8;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
}
.close-button_cl {
  background-color: #468bc7;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  width: 75px;
}
.content_fil {
  display: flex;
  width: 100%;
  background-color: white;
}

.left-content {
  /* flex: 1 1; */
  border-right: 1px solid #ccc;
  /* padding: 10px; */
  overflow: hidden;
  display: flex;
  background-color: #f0f0f0;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  width: 25%;
  /* margin-left: 15px; */
}

.right-content {
  /* flex: 1; */
  /* padding: 10px; */
  width: -webkit-fill-available;
}

.section {
  margin-top: 10px;
}
.section_fil {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 25px;
}
.section_fil:hover {
  background-color: #d8e6f9;
  border: 1px solid #00000029;
  height: 25px;
}

.font_fil {
  font-size: 12px;
  margin-right: 5px;
  margin-left: 8px;
  width: 13px;
}
.section_out {
  /* margin-top: 20px;  */
  background-color: #5e6c7f;
  width: 100%;
  height: 30px;
  color: white;
  padding-left: 8px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.field-section {
  border: none;
  /* border: 1px solid #ccc; */
  /* padding: 10px; */
}

.field-name-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  padding-left: 7px;
  border: 1px solid #0000001c;
  height: 25px;
  border-radius: 4px;
}
.field_fil {
  border: none;
  border-top: 0.5px solid #b8dcfc;
  margin-bottom: -25px;
  margin-top: 8px;
}
.section-title {
  /* background-color: #337ab7; */
  /* color: white; */
  padding: 5px;
  font-size: 13px;
  color: #458cc8;
  cursor: pointer;
}
.filter_name_sec {
  display: flex;
  flex-direction: row;
  /* justifyContent: space-between; */
  align-items: center;
  width: 100%;
  background-color: #ebf1f9;
  height: 35px;
  border-bottom: 1px solid #b8dcfc;
}

.section-content {
  padding: 10px;
}

.select {
  width: 235px;
  margin-top: 5px;
  height: 32px;
  border: 1px solid #c5c1c1;
  border-radius: 4px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.ok-button {
  background-color: #468bc7;
  color: white;
  border: none;
  font-weight: bold;
  margin-left: 5px;
  border-radius: 4px;
  height: 30px;
  width: 75px;
  cursor: pointer;
}
.text_name {
  font-size: 12px;
  font-weight: 500;
}
.text_name_out {
  font-size: 12px;
  font-weight: 700;
  color: white;
}
.text_name_filt {
  font-size: 12px;
  font-weight: 600;
  color: black;
  margin-left: 10px;
  margin-right: 4px;
}
.sort_algn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.view_cont {
  width: 100px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
}
.footer_div {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.colon_icn {
  width: 20px;
  font-size: 12px;
  font-weight: 700;
}
.row_select {
  width: 235px;
  height: 32px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .filter-component {
    border: 1px solid #a2a2a2;
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: 4px;
    background-color: #d8e6f9;
  }
  .font_fil {
    display: none;
  }
  .text_name {
    margin-left: 8px;
  }
  .left-content {
    width: 25%;
  }
  .right-content {
    width: 69%;
  }
  .field-name-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 135px;
    border: 1px solid #0000001c;
    height: 25px;
    padding-left: 5px;
    border-radius: 4px;
  }
  .text_name_filt {
    font-size: 11px;
    font-weight: 400;
    color: black;
    margin-left: 10px;
    margin-right: 4px;
  }
  .section_fil:active {
    background-color: #d8e6f9;
  }
  .field_fil {
    border: none;
    border-top: 0.5px solid #b8dcfc;
    margin-bottom: -22px;
    margin-top: 5px;
  }
  .section-content {
    padding: 5px;
  }
  .sort_by {
    width: 143px;
    height: 25px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .sort_first {
    margin-top: 10px;
  }
  .header_fil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    width: 95%;
  }
  .edit-filter-popup_fil {
    background: white;
    border-radius: 5px;
    border: 4px solid #7d99c0;
  }
}
@media (min-width: 200px) and (max-width: 450px) {
  .filter-component {
    border: 1px solid #a2a2a2;
    display: flex;
    flex-direction: column;
    width: 90vw;
    border-radius: 4px;
    background-color: #d8e6f9;
  }
  .sort_first {
    margin-top: 10px;
  }
  .font_fil {
    display: none;
  }
  .text_name {
    margin-left: 8px;
  }
  .left-content {
    width: 25%;
  }
  .header_fil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    width: 95%;
  }
  .right-content {
    width: 69%;
  }
  .field-name-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 135px;
    border: 1px solid #0000001c;
    height: 25px;
    padding-left: 5px;
    border-radius: 4px;
  }
  .text_name_filt {
    font-size: 11px;
    font-weight: 400;
    color: black;
    margin-left: 10px;
    margin-right: 4px;
  }
  .field_fil {
    border: none;
    border-top: 0.5px solid #b8dcfc;
    margin-bottom: -22px;
    margin-top: 5px;
  }
  .section-content {
    padding: 5px;
  }
  .sort_by {
    width: 143px;
    height: 25px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .edit-filter-popup_fil {
    background: white;
    border-radius: 5px;
    border: 4px solid #7d99c0;
  }
}
