.modal {
  /* position: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  /* height: 35vh;
    width:25vh; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  /* padding: 2px; */
  height: 180px;
  width: 250px;
  border-radius: 4px;
}

.close {
  /* margin-top:10px; */
  margin-left: 20px;
  height: 35px;
  /* margin:3px; */
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  justify-content: space-between;
}
.recovery_email_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}
.recovery_email {
  height: 30px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn_div_pop_up {
  display: flex;
  justify-content: right;
  margin-right: 10px;
  margin-top: 10px;
}

.ok_btn1 {
  background-color: #428bca;
  color: white;
  height: 30px;
  width: 75px;
  border: none;
  border-radius: 4px;
}
.close_btn {
  margin-right: 7px;
}
.title_div {
  background-color: #b3ddf1;
}
.submit_div {
  background-color: #b3ddf1;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
.envelope-icon {
  /* margin-right: 10px; */
  color: #555;
}

.input-container {
  position: relative;
  height: 85px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  color: #555;
}

.email-input {
  border: 1px solid #ccc;
  margin-top: 25px;
  border-radius: 5px;
  margin-left: 10px;
  padding-left: 35px;
  height: 30px;
  width: 190px;
}
