.alignment {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}
.alignment_cont {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 6px;
}
.label_name_service {
  color: black;
  width: 120px;
  margin-left: 20px;
  margin-top: 10px;
  font: 12px tahoma, arial, helvetica, sans-serif;
}
.drpodown_list {
  width: 210px;
  height: 28px;
  display: flex;
  border-color: #B5B8C8;
  justify-content: center;
}
.text_area {
  width: 290px;
  height: 100px;
  border-color: #B5B8C8;
  display: flex;
  justify-content: center;
}
.text_area_state {
  width: 325px;
  height: 100px;
  border-color: #B5B8C8;
  display: flex;
  justify-content: center;
}
.dashed-table {
  border-style: dashed;
  margin-top: 10px;
  background-color: #e0e0e0;
  margin-left: 15px;
  width: 431px;
  margin-bottom: 15px;
}
.irs_div_title {
  width: 90px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}
.main_div_irs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.sub_div_irs {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.label_name_state {
  width: 80px;
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  font: 12px tahoma, arial, helvetica, sans-serif;
}
.main_div_cont {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-top: 10px;
  margin-left: 10px;
}
#lblHoldDate .k-input-solid {
  width: 209px;
}
.drop_sdec {
  width: 110px;
  border-color: #B5B8C8;
  height: 25px;
}
.inp_sdec {
  width: 110px;
  height: 25px;
  border-color: #B5B8C8;
}
#statedeci .k-button-md.k-icon-button .k-button-icon.k-svg-icon > svg,
.k-button-md.k-icon-button .k-button-icon.k-icon-md > svg {
  color: black;
}
@media (min-width: 200px) and (max-width: 740px) {
  .main_div_cont {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .text_area {
    width: 180px;
  }
  #lblHoldDate .k-input-solid {
    width: 170px;
  }
  .dashed-table {
    width: 325px;
  }
  .main_div_irs {
    flex-direction: column;
  }
  .irs_div_title {
    width: 160px;
  }
  .drop_sdec {
    width: 145px;
  }
  .inp_sdec {
    width: 145px;
  }
  .drpodown_list{
    width:170px;
  }
}
